/* Write some CSS below */

body{
    margin: 0; 
    padding: 0;
    display: contents;
    height: 100%;
    width: 100%;
}

.h1 h2 h3 p {
    font-family: 'Roboto';
}
.h1{
    font-size: 30px;
}
.h2{
    font-size: 20px;
}

/* menu */

menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 0%;
    background-color: #2B2A2E;
    color: #D6D2E6;
}

.logo-nom {
    display: flex;
    align-items: center;
}

.logo-nom img {
    width: 50px;
    margin-right: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 10px;
    font-size: 10px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #D6D2E6;
    text-decoration: none;
    font-size: 13px;
}

.bouton {
    padding: 10px 20px;
    background-color: #777880;
    color: #D6D2E6;
    text-decoration: none;
    border-radius: 5px;
    font-size: 12px;
}

#eng{
    width: 30px; 
    margin-right: 10px;
}

/* section1 */

.conteneur {
    display: flex;
    align-items: center;
    width: 100%;
    height: 400px;
}

.contenu {
    
    margin-bottom: auto; 
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 0px;
    padding-right: 90px;
    text-align: center; 
    width: 57%;
}

.contenu p{
    text-align: left;
    font-size: 20px;
    font-family:'Roboto';
    padding-bottom: 10px;
    margin-bottom: 3%;
}

.contenu a {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #2B2A2E;
    color: #D6D2E6;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
}

#cta{
    display: inline-block;
}

#cta:hover{
    transform: scale(1.2);
}

.icones {
    display: flex;
    padding-top: 20px;
    padding-bottom: 50px;
    align-items: right;
    justify-content: center;
}

.icones i {
    font-size: 16px;
    width: 40px;
    margin-right: 10px;
}

.image  {
    
    width: 100%; 
    height: 100%; 
    width: 42%;

}

.image img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

/* section2 */

.activities{
    margin-top: 0px;
    background-color: #D6D2E6;
}
.activities h2{
    padding-top: 20px;
    text-align: center;
    margin-top: 0%;
}
.activities p {
    margin: 0%;
    text-align: center;
}
.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 0px 100px;
    align-items: stretch; 
}

.cards {
    
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border: 1px solid rgba(0, 0, 0, 0.1); 
    border-radius: 5px; 
    padding: 20px; 
    margin: 10px;

}

.cards img {
    max-width: 250px; 
    height: 200px; 
    margin-top: 10px;
    margin-bottom: 20px; 
    border-radius: 10px;
    object-fit: cover;
    object-position: center; 
}

.cards p, .cards h3 {
    color: #777880;
}
.cards h3, .cards p, .cards a {
    text-align: center;
 
}

.cards a {
    padding: 10px 20px;
    margin-top: 30px;
    margin-bottom:  30px;
    background-color: #2B2A2E;
    color: #D6D2E6;
    text-decoration: none;
    border-radius: 5px;
    font-size: 12px;
}

/* section3 */

.avis{
    margin-top: 0px;
    background-color: #D6D2E6;
}
.avis h2{
    padding-top: 25px;
    text-align: center;
    margin-top: 0%;
}
.avis p {
    margin: 2%;
    text-align: center;
    font-size: 17px;
}
.avis h3 {
    padding: 5px 20px;
    margin-bottom: 20px;
    background-color: #2B2A2E;
    color: #D6D2E6;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
}

.grid1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 0px 100px;
    background-color: #ffffff;
    border: 10px solid;
    border-image: linear-gradient(to top , #ffffff, #D6D2E6); 
    border-image-slice: 1; 
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); 
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5); 
    align-items: start;
    
    
}

/* section4 */

.carousel-container {
    position: relative;
    overflow: hidden;
    background-color: #D6D2E6;
    margin: 0%;
    align-items: center;
}
.carousel-container h2 {
    padding-top: 25px;
    text-align: center;
    
    
}


.carousel {
    display: flex;
    
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding-top: 10px ;
    justify-content: center;
    justify-items: center;

    
}

.slides {
    display: flex;
    gap: 150px;
    
    
}

.slides img {
    width: 170px; 
    height: 170px;
    max-height: max-content;
    object-fit: cover;
    scroll-snap-align: center;
    margin-top: 10px;
    margin-bottom: 20px; 
    border-radius: 50%;
    object-position: center; 
    border: #2B2A2E solid;

}

.prev, .next {
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;

}

.prev {
    left: 10px;
    align-items: center;
}

.next {
    right: 10px;
    align-items: center;
}


/* formulaire */
.form-container{
    width:900px;
    height: 350px;
    margin: 0px 80px;
    padding: 20px;
    border: 2px  #2B2A2E; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); 
    
}.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    color: #2B2A2E; 
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px; 
}

.form-group textarea {
    padding: 10px;
    height: 70px; 
    width: 100%;
}


input[type="submit"] {
    background-color: #2B2A2E;
    color: #D6D2E6;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* cordonees */

.contact{
    display: flex;
    align-items: center;
    width: 100%;
    height: 450px;
}
.cordonnes {
    margin-top: 0px;
    padding-top: 0px ;
    margin-right: 10px;
    text-align: center; 
    width: 36%;
    height: 100%;
    background-color: #2B2A2E;
    color: #D6D2E6;
}

.cordonnes h1{
    margin-top: 70px;
}

.form  {
    border-radius: 5px;
    box-shadow: #2B2A2E;
    margin-left: 30px;
    margin-bottom: 20px;
    width: 70%;

}

/* section6 */

menu-bas {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 0%;
    background-color: #2B2A2E;
    color: #D6D2E6;
    height: 200px;
}

.logo-nom-bas {
    display: flex;
    
}

.logo-nom-bas img {
    padding-top: 10px;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.bas{
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start; 
    
}

.sub-menu{
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: flex-start; 

}

.nav{
    height: 40px;
    align-items: start ;
}
nav ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    display: flex;
    align-items: start;
}

nav ul li {
    margin-right: 10px;
    font-size: 10px;
}

nav ul li:last-child {
    margin-right: 0;
}

@media (max-width: 950px) {
    .grid{
        grid-template-columns: 1fr;
        
    }
}



